:root {
  --bright-blue: #0079ff;
  --light-gray: #697c9a;
  --light-blue: #4b6a9b;
  --light-black: #2b3442;
  --light-beige: #f6f8ff;
  --light-white: #fefefe;
  --dark-white: #ffffff;
  --dark-black: #141d2f;
  --dark-blue: #1e2a47;
  --border-radius: 15px;
  --shadow: 2px 7px 17px 0px #2e2f3019;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.logo {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: 1.625rem;
  /* 26px */
  line-height: 2.375rem;
}
.h1 {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: clamp(
    1rem,
    calc(1rem + ((1vw - 0.23437000000000002rem) * 2.5445)),
    1.625rem
  );
  /* Where: 2.5445 = 100 * font-size_difference / viewport_width_difference */
  /* Safari resize fix */
  min-height: 0vw;
  /* line-height: 2.375rem; */
  color: var(--light-black);
}
.h2 {
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: clamp(
    1rem,
    calc(1rem + ((1vw - 0.23437000000000002rem) * 0.5634)),
    1.375rem
  );
  /* 22px - 16px */
  min-height: 0vw;
  line-height: 2rem;
  color: var(--light-black);
}
.h3 {
  /* 16px -13px*/
  font-family: 'Space Mono', serif;
  font-weight: 400;
  font-size: clamp(
    0.8125rem,
    calc(0.8125rem + ((1vw - 0.23437000000000002rem) * 0.7633)),
    1rem
  );
  color: var(--bright-blue);
  min-height: 0vw;
  margin-top: -3px;
  line-height: 1.5rem;
}
.h4 {
  /* 13px -11px*/
  font-family: 'Space Mono', serif;
  font-weight: 400;
  font-size: clamp(
    0.6875rem,
    calc(0.6875rem + ((1vw - 0.23437000000000002rem) * 0.5089)),
    0.8125rem
  );
  min-height: 0vw;
  line-height: 1.25rem;
  color: var(--light-blue);
}
.p {
  /* 15px */
  font-family: 'Space Mono', serif;
  font-weight: 400;
  font-size: clamp(
    0.8125rem,
    calc(0.8125rem + ((1vw - 0.23437000000000002rem) * 0.5089)),
    0.9375rem
  );
  min-height: 0vw;
  line-height: 1.562rem;
  color: var(--light-blue);
  text-decoration: none;
}
/* DARK THEME */

.dark_mode .h1,
.dark_mode .h2,
.dark_mode .h4,
.dark_mode .p,
.dark_mode .logo,
.dark_mode #search {
  color: var(--dark-white);
}

header {
  width: 100%;
  /* margin: 24px; */
  /* padding: 32px 24px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header button {
  background: none;
  border: none;
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: 0.8125rem;
  letter-spacing: 2.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
}
#dark {
  color: var(--light-blue);
}

#light {
  display: none;
  color: var(--dark-white);
}

.container {
  width: min(48.625rem, 100%);
  padding: 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dark_mode #form_section {
  background-color: var(--dark-blue);
}
#form_section {
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--light-white);
  width: 100%;
  border-radius: var(--border-radius);
  margin-top: 36px;
  margin-bottom: 16px;
  padding: 0.5rem 0.5rem;
}
form,
form > div {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 8px;
}

form input[type='button'] {
  border: none;
  background-color: var(--bright-blue);
  border-radius: var(--border-radius);
  color: var(--light-white);
  padding: 12.5px 18px;
}
form input[type='button']:hover {
  background-color: #60abff;
}

#dark:hover {
  color: #222731;
  fill: #222731;
}
#dark:hover img {
  filter: brightness(0) saturate(100%) invert(9%) sepia(5%) saturate(4310%)
    hue-rotate(182deg) brightness(93%) contrast(83%);
}

form label {
  margin-left: 16px;
}

form #search {
  border: none;
  background: none;
  color: var(--light-black);
  width: 100%;
  height: 100%;
}
:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--bright-blue);
}

#error {
  display: none;
  color: #f74646;
  font-family: 'Space Mono', serif;
  font-weight: 700;
  font-size: clamp(
    0.8125rem,
    calc(0.8125rem + ((1vw - 0.23437000000000002rem) * 0.5089)),
    0.9375rem
  );
  text-wrap: nowrap;
}

#user_section {
  box-shadow: var(--shadow);
  width: 100%;
  /* margin: 24px; */
  padding: 32px 24px;
  background-color: var(--light-white);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.dark_mode #user_section {
  background-color: var(--dark-blue);
}

#user_header {
  display: flex;
  flex-direction: row;
  gap: 19px;
  line-height: normal;
}
#user_header > img {
  width: 70px;
  height: 70px;
  border: 3px solid var(--light-white);
  border-radius: 50%;
}

#user_header > div {
  display: flex;
  flex-direction: column;
}

.stats {
  display: flex;
  flex-direction: row;
  padding: 19px;
  border-radius: var(--border-radius);
  justify-content: center;
  background-color: var(--light-beige);
}
.dark_mode .stats {
  background-color: var(--dark-black);
}

.stats > div {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.contact,
.contact > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact img {
  height: 20px;
}

.contact > div > div {
  display: flex;
  flex-direction: row;
  height: 20px;
  align-items: center;
  gap: 16px;
}

a.disabled {
  pointer-events: none;
}

.visualy-hidden {
  position: absolute;
  left: -9999px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.dark_mode {
  background-color: var(--dark-black);
}

body {
  background-color: var(--light-beige);
}
